* {
    box-sizing: border-box;
    font-family: "Saira Stencil One";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    text-shadow: 4px 4px 4px #d4cece;
    font-size: 30px;
}

#title {
    margin: 0;
    color: #9E7676;
}

#main-container {
display: flex;
flex-flow: column wrap;
align-items: center;
background-color: #EAC7C7;
padding: 10px;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container {

    margin-top: 200px 0px 200px 0px;
    display: flex;
    min-width: 530px;
    max-width: 530px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #F7F5EB;
    border-radius: 3px;
}

.box {
    border: 1px solid #EAE0DA;
    background-color: #F7F5EB;
    border-radius: 2px;

}

.hovered {
    background-color: #A0C3D2;
}

#reset {
    margin: 20px;
    font-size: 20px;
}

button {
    background-color: #A0C3D2;
    color: #583a3a;
    border-radius: 4px;
    border: 1px solid #A0C3D2;
    margin: 30px;
    font-size: 20px;
}

button:hover {
    background-color: #e7f2f7;
    color: #9E7676;
}